.smk_sbg_main_block{
	max-width: 800px;
	min-width: 700px;
}

.smk_sbg_main_block .smk_sbg_hf_block{
	display: block;
	margin: 8px 0;
	padding: 8px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.smk_sbg_main_block .smk_sbg_name{
	display: inline-block;
	width: 300px;
	border: 1px solid #ccc;
	padding: 8px 10px;
	font-size: 14px;
	color: #666;
	margin-right: 5px;
	float: left;
}

.smk_sbg_main_block .smk_sbg_button{
	display: inline-block;
	padding: 8px 10px 7px;
	margin-top: 1px;
	min-width: 46px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	margin-right: 0;
	border: 1px solid #2f5bb7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	float: left;
}
.smk_sbg_main_block .smk_sbg_button:hover{
	background: #4B8EFC;
	border: 1px solid #254791;
}
.smk_sbg_main_block .smk_sbg_button:active{
	background: #357ae8;
}

.smk_sbg_main_block .smk_sbg_button.smk_sbg_save_button{
	float: right;
}

/* Messages 
-----------------------------------------*/
.smk_sbg_main_block .smk_sbg_message{
	position: fixed;
	display: block;
	top: 45px;
	right: 15px;
	/*width: 215px;*/
	padding: 10px;
	background: #333;
	background: rgba(0, 0, 0, .7);
	border: 1px solid #111;
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 9999;
}
.smk_sbg_main_block .smk_sbg_message.show{
	visibility: visible;
	opacity: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	cursor: pointer;
}
.smk_sbg_main_block .smk_sbg_message{
	width: auto;
}

.smk_sbg_main_block .smk_sbg_message span.smk_sbg_spin{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	background: url(loader.gif) no-repeat center center;
}

.smk_sbg_main_block .smk_sbg_hf_block.smk_hf_top0{
	border-top: 0;
	padding-top: 0;
	padding-left: 35px;
}
.smk_sbg_main_block .smk_sbg_col_title{
	display: inline-block;
	width: 200px;
	color: #666;
	text-transform: uppercase;
	font-weight: 700;
	float: left;
}
.smk_sbg_main_block .smk_sbg_col_title.sbg_name{
	width: 210px;
}

.smk_sbg_main_block .smk_sbg_one_sidebar{
	position: relative;
	display: block;
	padding: 5px 10px 5px 32px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 5px 0;
	background: #f1f1f1;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
	background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: linear-gradient(to top,#ececec,#f9f9f9);
	color: #464646;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;

	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.smk_sbg_main_block .smk_sbg_one_sidebar .smk_sbg_handle{
	position: absolute;
	top: 7px;
	left: 7px;
	display: block;
	width: 20px;
	height: 20px;
	background: url(handle.png) center center;
	border-radius: 2px;
	cursor: move;
}
.smk_sbg_main_block .smk_sbg_one_sidebar .smk_sbg_remove_sidebar{
	position: absolute;
	top: 8px;
	right: 7px;
	display: block;
	padding: 1px 5px;
	background: #aaa;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	font-size: 9px;
	/*text-transform: uppercase;*/
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.smk_sbg_main_block .smk_sbg_one_sidebar .smk_sbg_remove_sidebar:hover{
	background: #DB0700;
}

.smk_sbg_main_block .smk_sbg_one_sidebar.smk_sbg_just_created{
	background: #D9FFCC;
	border-color: #4BAC3E;
}

.smk_sbg_main_block .smk_sbg_form_created{
	width: 200px;
	border: 1px solid transparent;
	background: none;
	color: #555;
	font-weight: 700;
}
.smk_sbg_main_block .smk_sbg_form_created:focus{
	color: #333;
	background: #fff;
}

.smk_sbg_main_block .smk_sbg_code{
	display: inline-block;
	width: 200px;
}

.smk_sbg_main_block h2 span.smk_sbg_version{
	position: relative;
	display: inline-block;
	top: -10px;
	background: #E64F04;
	font-size: .4em;
	padding: 1px 4px;
	line-height: 1.6;
	color: #fff;
	text-shadow: none;
	border-radius: 4px;
}

/* Metabox styles
----------------------------------------*/
.smk_sbg_img_align{
	display: inline-block;
	margin: 5px 5px 3px 0;
	padding: 3px;
	background: #fff;
	border: 1px solid #C7EAF4;
	cursor: pointer;
}
.smk_sbg_img_align:hover,
.smk_sbg_img_align.smk_sbg_active{
	border: 1px solid #E74444;
}

.smk_sbg_metabox_row{
	margin-bottom: 15px;
}
.smk_sbg_hidden{
	display: none;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
	.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
	.clearfix:before,.clearfix:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}
	.clearfix:after{clear:both;}